.nav {
  position: fixed;
  width: 100%;
  background-color:#FCFCFC;
  padding: 20px; 40px;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid #FCFCFC;
}

.nav .nav__list {
    display: flex;
    justify-content: space-between;
}

.nav i {
    font-size: 22px;
}

.nav  .nav__list-link {
    position: relative;
}

.nav  .nav__badge{
    position: absolute;
    top: -9px;
    right: -6px;
    font-size: 10px;
    color: white;
    background-color: #E66040;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  

}